body {
    margin: 0;
    padding: 0;
    background: url('background.jpg') no-repeat center center fixed; /* Change 'background.jpg' to the path of your background image */
    background-size: cover;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-bottom: 10px;/* Adjust as needed */
  }
  
  .recipe {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;

}

